<?xml version="1.0"?>
<config>
  <modules>
    <CointopayIntlCC_Paymentgateway>
      <version>0.1.2</version>
    </CointopayIntlCC_Paymentgateway>
  </modules>
  <global>
    <models>
      <cointopayintlccgateway>
        <class>CointopayIntlCC_Paymentgateway_Model</class>
      </cointopayintlccgateway>
    </models>
    <helpers>
      <cointopayintlccgateway>
        <class>CointopayIntlCC_Paymentgateway_Helper</class>
      </cointopayintlccgateway>
    </helpers>
    <blocks>
      <cointopayintlccgateway>
        <class>CointopayIntlCC_Paymentgateway_Block</class>
      </cointopayintlccgateway>
    </blocks>
    <events>
        <sales_order_place_after>
            <observers>
                <cointopayintlcc_gateway_order>
                    <type>singleton</type>
                    <class>CointopayIntlCC_Paymentgateway_Model_Observer</class>
                    <method>cointopayOrder</method>
                </cointopayintlcc_gateway_order>
            </observers>
        </sales_order_place_after>
    </events>
  </global>
  <default>
    <payment>
      <cointopayintlccgateway>
        <model>cointopayintlccgateway/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Cointopay International CC PaymentGateway</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </cointopayintlccgateway>
    </payment>
  </default>
  <frontend>
    <routers>
      <cointopayintlccgateway>
        <use>standard</use>
        <args>
          <module>CointopayIntlCC_Paymentgateway</module>
          <frontName>cointopayintlccgateway</frontName>
        </args>
      </cointopayintlccgateway>
    </routers>
  </frontend>
  <adminhtml>
        <layout>
            <updates>
                <cointopayintlccgateway>
                    <file>cointopaygateway.xml</file>
                </cointopayintlccgateway>
            </updates>
        </layout>
        <routers>
            <cointopayintlccgateway_admin_coins>
                <use>admin</use>
                <args>
                    <module>CointopayIntlCC_Paymentgateway</module>
                    <frontName>merchantcoins</frontName>
                </args>
            </cointopayintlccgateway_admin_coins>
        </routers>
    </adminhtml>
</config>
